@import './../../App.scss';

.container {
  width: 768px;
  margin: 0 auto;
  border: 5px solid $main-border-color;
  padding: 10px;
  margin-bottom: 10px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  flex-grow: 1;
  border-radius: 5px;


  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(83, 83, 83); 
  }
}

