@import './../../App.scss';
.container {
  border: 3px solid $main-color;
  padding: 10px;
  max-width: 60%;
  min-width: 320px;
  margin: 10px 0;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
}

.own {
  align-self: flex-end;
  border: 3px solid $secondary-color;
}

.wrapper {
  min-height: 70px;
  margin-bottom: 5px;
}

.avatar {
  float: left;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-right: 15px;
}

.name {
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 0px;
  line-height: 1.75;
}

.date {
  line-height: 1.5rem;
  font-size: 0.8rem;
  margin: 0;
  white-space: nowrap;
}

.text {
  line-height: 1.25;
  margin: 0;
}

.actions {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  border-top: 1px solid rgba($color: #000000, $alpha: 0.75);
  padding-top: 5px;
}

.like, .edit, .delete {
  cursor: pointer;
  margin-bottom: 0;
  background-color: transparent;
  border: none;
  font-weight: bold;
  padding: 0;
  margin-left: 10px;
  line-height: 1.5rem;

}


.liked {
  color: $main-color;
}

.separator {
  padding: 20px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before,
  &::after {
    content: '';
    display: block;
    height: 3px;
    width: 30%;
    background-color: $main-border-color;
  }

  &::after {
    margin-left: 20px;
  }

  &::before {
    margin-right: 20px;
  }
}